@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --kairosGold:#D4AF37;
  --kairosTeal:#00bfa6;
  --kairosDark:#1E1E2F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-kairosGold: var(--kairosGold);
  --color-kairosTeal: var(--kairosTeal);
  --color-kairosDark: var(--kairosDark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
